[submodule "shop"]
	path = shop
	url = https://github.com/golub-kirill/shop.git
[submodule "make-appointment"]
	path = make-appointment
	url = https://github.com/golub-kirill/make-appointment.git
[submodule "auth"]
	path = auth
	url = https://github.com/golub-kirill/auth.git
[submodule "admin_dashboard"]
	path = admin_dashboard
	url = https://github.com/golub-kirill/admin_dashboard.git
[submodule "kinopoisk-yohoho"]
	path = kinopoisk-yohoho
	url = https://github.com/golub-kirill/kinopoisk-yohoho.git
